params {
    platform = 'Xenium'
    outputDir = "output"
    inputDir = "."
    transcriptsFile = "/fh/fast/setty_m/nghiem_setty_collaboration/incyte-xenium/xenium-ranger/XE029/output-XETG00049__0036679__XE027_36679_451-003__20240801__200541/transcripts.csv.gz"
    //transcriptsFile = "/home/tbencomo/software/proseg-workflow/test/transcripts_short.csv"
    enforce_connectivity = true
    ignore_z_coord = false
    sampleID = '451003'
}
